/*==========================

    Universal Styling

==========================*/

:root {
    --primary: #7b1d5f;
    --highlight: #f395d7;
    --shadow: #49002d;
    --secondary: #2a491c;
    --secondary-highlight: #86a578;
    --secondary-shadow: #0e2d00;
    --primary-gray: #9e9e9a;
    --light-gray: #c6c6c2;
    --dark-gray: #444440;
    --white: hsl(216, 100%, 95%);
  }

  * {
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: leaner;
    src: url(../fonts/leaner-bold.otf);
}

h1, h2, h3, h4, h5, h6, p {
    font-family: leaner
 }

 body {
    display: grid;
    grid-template-areas: 
      'header header'
      'nav     img'
      'footer footer';
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
    grid-template-rows: 150px 1fr 100px;
    row-gap: 40px;
    justify-content: center;
 }

 
/*==========================

    Header Styling

==========================*/
.header {
    grid-area: header;
    display: grid;
    align-items: center;
    background-color: var(--primary);
}

.header__logo {
    font-size: 60px;
    color: var(--white);
    text-decoration: none;
    justify-items: left;
     
}

.header__link {
    font-size: 48px;
    color: var(--white);
    text-decoration: none;
    justify-items: right;
     
}